
 :root {
     --primary-white-color: #FFFFFF;
     --tarnsparent-text-color: rgba(255, 255, 255, 0.6);
     --accent-color: #2196F3;
     --primary-text-color: #212121;
     --secondary-text-color: #757575;
     --primary-bgcolor: #2F303A;
     --secondary-bgcolor: #F5F4FA;
     --hero-bgcolor: #C4C4C4;

 }
 
 body {
     color: var(--primary-text-color);
     background-color: var(--primary-white-color);
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em; 

    }

     /* Utilities */
     .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
    }

.link {
    text-decoration: none;
    color: inherit;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.button {
    border: none;
cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.section {
    padding: 94px 0;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
line-height: 1.16;
text-align: center;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* Logo */
.logo {
    display: block;
    
    
    color: var(--accent-color);
    font-family:"Raleway", sans-serif;

font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* Header */
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.header-box {
    display: flex;
    align-items: center;
    
}
.logo-header {
    margin-right: 93px;
    padding: 24px 0;
}
.header-logo {
    color: var(--primary-text-color);
}
.header-logo:hover,
.header-logo:focus {
    color: inherit;
}

.list-nav {
    display: flex;
    
}

.item-nav:not(:last-child),
.contacts-item:not(:last-child) {
    margin-right: 50px;
}



.link-nav.current {
    color: var(--accent-color);
}

.link-nav {
    display: block;
    padding: 32px 0;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 }
 .link-nav:hover,
 .link-nav:focus {
     color: var(--accent-color);
 }

 .contacts-list {
     display: flex;
     margin-left: auto;
 }
 
 

 .contacts-link {
    display: inline-flex;
    align-items: center;
    padding: 32px 0;

    color: var(--secondary-text-color);
     font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 }
 .contacts-link:hover,
 .contacts-link:focus {
    color: var(--accent-color);

 }
 .contacts-icon {
    fill: currentColor;
    margin-right: 10px;
}
 
/* Hero */
.page-hero {
    padding: 200px 0;
        background-color: var(--hero-bgcolor);
        text-align: center;
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero.jpg");
}
 

.hero-title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 696px;
   
   color: var(--primary-white-color);
    
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-button {
padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);

   
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}




/* Features */

.features-list {
    display: flex;
}
.features-item {
    flex-basis: calc((100% - 90px) / 4);
}
.features-item:not(:last-child) {
    margin-right: 30px;
}
.features-item-title {
    margin-bottom: 10px;
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.features-text {
    color: var(--secondary-text-color);
        
font-size: 14px;
line-height: 1.71;
}

/* About */

.section.about {
    padding-top: 0;
}
.about-list {
    display: flex;
}
.about-item {
    flex-basis: calc((100% - 60px) / 3);;
    
}
.about-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.about-link {
    display: block;
}

/* Our team */
.team {
    background-color: var(--secondary-bgcolor);
}

.team-list {
    display: flex;
}
.team-item {
    width: calc((100% - 90px) / 4);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.employee-image {
    display: block;
}
.employee-box {
    padding: 30px 0;
    text-align: center;
}
.employee-title {
    margin-bottom: 10px;
    
font-weight: 500;
font-size: 16px;
line-height: 1.18;

}
.employee-text {
    color: var(--secondary-text-color);
    
font-size: 16px;
line-height: 1.18;
}

/* Footer */
.page-footer {
    padding: 60px 0;
    background-color: var(--primary-bgcolor);
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;
}
.footer-logo {
    color: var(--primary-white-color);
}
.footer-logo:hover,
.footer-logo:focus {
    color: inherit;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;

}
.address-link {
   
    color: var(--primary-white-color);
   
font-style: normal;

font-size: 14px;
line-height: 1.71;
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.contact-link {
    color: var(--tarnsparent-text-color);
    
font-style: normal;

font-size: 14px;
line-height: 1.71;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}


/* PORTFOLIO */

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.portfolio-btn-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-btn {
    padding: 6px 22px;
    color: var(--primary-text-color);

    letter-spacing: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;

background-color: var(--secondary-bgcolor);
border-radius: 4px;

}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);
background-color: var(--accent-color);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
   
}
.portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.portfolio-link {
    display: block;
}
.portfolio-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.portfolio-example-title {
    
    margin-bottom: 4px;

    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}

 .portfolio-example-text {

     color: var(--secondary-text-color);
    
    font-size: 16px;
    line-height: 1.87;
 }